{% extends 'base.html' %}

{% block content %}
<div class="goal-container">
<h2>目標設定</h2>
<form method="post" onsubmit="disableSubmitButton(this)">
    {% if form.non_field_errors %}
    <div class=error-message>
        {% for error in form.non_field_errors %}
          {{ error }}<br>
        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}

    <div class="form-item date-item">
    <label>達成目標日 *</label>
    {{ form.date }}

    {% if form.date.errors %}
      <p class="error-message" style="color:#cc0000; font-weight:normal;">{{ form.date.errors.0 }}</p>
    {% endif %}
    {% if day_goals_count == 0 %}
    <span class="form-hint">
        達成を目指す日付を選び、達成したらスタンプを記録しましょう。
        「*」は必須項目です。
    </span>

    {% endif %}
    </div>
    <div class="form-item">
        <label>教科名　*</label>
        {{ form.subject }}
    </div>

    <!-- 勉強時間 -->
    <div class="form-item">
        <label class="picker-title">勉強時間</label>
        <div class="time-field">
            {{ form.study_hour }} <span>時間</span>
            {{ form.study_minute }} <span>分</span>
        </div>
    </div>

    <!-- ページ数 -->
    <div class="form-item">
        <label class="picker-title">ページ数</label>
        <div class="page-field">
            {{ form.page_start }}
            <span class="page-wave">～</span>
            {{ form.page_end }}
            <span>ページ</span>
        </div>

        {% if form.page_end.errors %}
        <div class="error-message">
            {% for error in form.page_end.errors %}
              {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <button type="submit" class="btn-primary">保存</button>
</form>

</div>
{% endblock %}
