{% extends 'base.html' %}

{% block content %}
<div class="goal-container">
<h2>目標設定</h2>

<form method="post">
    {% csrf_token %}

    <p>
        達成目標日<br>
        {{ form.date }}
        <br>
        <span class="form-hint">
            達成を目指す日付を選んでください。
            達成できた日は記録画面からスタンプを押すことができます。
        </span>
    </p>

    <p>
        教科名<br>
        {{ form.subject }}
    </p>

    <p>
        勉強時間<br>
        {{ form.study_hour }} 時間
        {{ form.study_minute }} 分
    </p>

    <p>
        ページ数<br>
        {{ form.page_start }}ページ～{{ form.page_end }}ページ
    </p>

    <button type="submit" class="btn-primary">保存</button>
</form>
</div>
{% endblock %}
