{% extends 'base.html' %}
{% block content %}

{% if not user.is_authenticated %}
  <p>ログインしていません</p>
{% endif %}

{% if not has_goals %}
<div class="form-hint">
    <p>『目標を追加』から始めましょう。<br>
       学習時間やページ数を設定し、目標をタップして記録出来ます。<br>
    </p>
</div>
{% endif %}
<div class="home-container">
  <div class="goal-box same-width">
    <h3>【達成目標】</h3>
    <p>{{ profile.goal|linebreaksbr }}</p>
  </div>

  <form method="get" class="date-box">
      <input
       id="datePicker"
       type="date"
       name="date"
       value="{{ selected_date|date:'Y-m-d' }}"
       class="date-input"
       onchange="this.form.submit()">


<div class="selected-date"
     onclick="const el=document.getElementById('datePicker'); el.showPicker?.(); el.focus();">
    {{ selected_date|date:"Y/n/j(D)" }}
</div>
</form>
  {% if goals %}
    <div class="goal-grid">
      {% for goal in goals %}
        <a href="{% url 'accounts:study_record' goal.id %}" class="goal-card">
          <div class="goal-subject">{{ goal.subject }}</div>
          <ul class="goal-detail">
            {% if goal.study_hour != 0 or goal.study_minute != 0 %}
            <li>{{ goal.study_hour }}時間{{ goal.study_minute }}分</li>
            {% endif %}
            {% if goal.page_start != 0 or goal.page_end != 0 %}
              <li>{{ goal.page_start }}～{{ goal.page_end }}ページ</li>
            {% endif %}
          </ul>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>この日の目標はありません</p>
  {% endif %}


  <a href="{% url 'accounts:goal_create' %}?date={{ selected_date|date:'Y-m-d' }}" class="add-button">目標を追加</a>
</div>

{% endblock %}