{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mypage-container">
<h2 class="mypage-title">マイページ</h2>

<div class="mypage-top">
    <div class="mypage-left">
    {% if profile.icon %}
        <img src="{{ profile.icon.url }}" class="profile-icon">
    {% else %}
        <img src="{% static 'img/user.png' %}" class="profile-icon">
    {% endif %}
    </div>
    
    <div class="mypage-right">
        <button type="button" class="btn-logout" onclick="openModal()">ログアウト</button>
        <a href="{% url 'accounts:profile_edit' %}">プロフィール編集</a>
    </div>
</div>

<div class="profile-row">
    <span class="label">名前</span>
    <span>{{ profile.name }}</span>
</div>

<div class="profile-row">
    <span class="label">生年月日</span>
    <span>{{ profile.birthday }}</span>
</div>

<div class="profile-goal">
    <P>【達成目標】</p>
    <p>{{ profile.goal }}</p>
</div>
<div class="profile-actions">
  <button onclick="location.href='{% url 'accounts:email_change' %}'">メールアドレス変更</button>
  <button onclick="location.href='{% url 'password_reset' %}'">パスワード変更</button>
</div>
<div id="logout-modal" class="simple-modal hidden">
    <div class="modal-box">
        <p>ログアウトしますか？</p>

        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-yes">はい</button>
            <button type="button" onclick="closeModal()">いいえ</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
