{% extends "base.html" %}
{% block content %}

<h1 class="page-title">パスワード変更</h1>

<form method="post" class="auth-form">
  {% csrf_token %}

  {# フォーム全体のエラー（あれば） #}
  {% if form.non_field_errors %}
    <div class="error-message">
      {% for e in form.non_field_errors %}{{ e }}<br>{% endfor %}
    </div>
  {% endif %}

  <div class="form-group">
    <label class="auth-label">現在のパスワード</label>
    {{ form.old_password }}
    {% if form.old_password.errors %}
      <div class="auth-error">
        {% for e in form.old_password.errors %}{{ e }}<br>{% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label class="auth-label">新しいパスワード</label>
       <div class="password-note">
      ※英大文字・数字を含む８文字以上
  </div>
    {{ form.new_password1 }}
    {% if form.new_password1.errors %}
      <div class="auth-error">
        {% for e in form.new_password1.errors %}{{ e }}<br>{% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label class="auth-label">新しいパスワード（確認用）</label>
    <div class="form-hint">
        確認のため、再度パスワードを入力してください。
      </div>
    {{ form.new_password2 }}

    {% if form.new_password2.errors %}
      <div class="auth-error">
        {% for e in form.new_password2.errors %}{{ e }}<br>{% endfor %}
      </div>
    {% endif %}
  </div>
  <button type="submit" class="btn-primary-full">変更する</button>
</form>

{% endblock %}