{% extends 'base.html' %}
{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">
        <h1 class="page-title">パスワード再設定</h1>


<p class="auto-desc">新しく設定するパスワードを入力してください。（８文字以上で英大文字、小文字、数字を含む）</p>

<form method="post" class="auth-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label class="auth-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <div class="auth-error">
            {% for error in field.errors %}
            <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn-primary-full">パスワードを再設定する</button>
</form>
</div>
</div>

{% endblock %}