{% extends 'base.html' %}
{% load static %}
{% block  content %}
<div class="mypage-container">
<h2 class="mypage-title">プロフィール編集</h2>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-box">
        <div class="icon-preview">
            <a href="{% url 'accounts:icon_change' %}" class="icon-tap">
            {% if profile.icon %}
                <img src="{{ profile.icon.url }}" class="profile-icon">
            {% else %}
                <img src="{% static 'img/user.png' %}" class="profile-icon">
            {% endif %}
            <span class="icon-hint">タップしてアイコン変更  </span>
            </a>
        </div>



    <div class="form-item">
    <label>名前</label>
    {{ form.name }}
    </div>
    <div class="form-item">
    <label>生年月日</label>
    <input type="date" name="birthday"
           class="birthday-input"
           value="{{ profile.birthday|date:'Y-m-d' }}">
    </div>
    <div class="form-item">
    <label>【達成目標】(２０文字以内)</label>
　　<div class="form-hint">
    <p>あなたが最終的に叶えたい目標を書いてください。<br>
    </p>
    </div>
    <textarea id="goalInput" name="goal" maxlength="20" style="margin-bottom: 20px;">{{ profile.goal }}</textarea>

    <button type="submit"
            class="btn-submit"
            style="
            display: block;
            width: 120px;
            margin: 40px auto 20px;
            padding: 10px 0;

            background-color: #5b6df6;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 6px;
            cursor: pointer;"
    >登録</button>
</form>

</div>
<script>
const goalInput = document.getElementById("goalInput");
const goalError = document.getElementById("goalError");

goalInput.addEventListener("input", function(){

  if(goalInput.value.length > 20){
    goalError.style.display = "block";
  }else{
    goalError.style.display = "none";
  }

});
</script>

{% endblock %}
