{% extends 'base.html' %}
{% block content %}

<div class="home-container" style="padding: 0 8px;">
    <div class="record-top-innner">
    <h2>どの目標を記録する？</h2>

    {% if goals %}
    <div class="form-hint">
        <p>未記録の目標です。<br>
           記録すると一覧から消えます。<br>
        </p>
    </div>

    <div class="goal-grid">
        {% for goal in goals %}
        <a href="{% url 'accounts:study_record' goal.id %}?date={{ goal.date|date:'Y-m-d' }}"
           class="goal-card"
           style="text-decoration:none; color:inherit;">

            <div class="goal-subject" style="font-size:16px; margin-bottom:4px;">
                {{ goal.subject }}
            </div>

            <ul class="goal-detail" style="margin:0; padding-left:18px; font-size:13px;">
                <li>{{ goal.date|date:"Y/n/j(D)" }}</li>
                <li>{{ goal.study_hour }}時間{{ goal.study_minute }}分</li>

                {% if goal.page_start %}
                    <li>{{ goal.page_start }}～{{ goal.page_end }}ページ</li>
                {% endif %}
            </ul>

        </a>
        {% endfor %}
    </div>

    {% else %}
    <div class="form-hint">
        まだ目標がありません。<br>
        左下の「🚩目標」から、目標を設定してみましょう。
    </div>
    {% endif %}
</div>
</div>

{% endblock %}