{% extends 'base.html' %}
{% block  content %}

<div class="login-wrapper">
    <h2 class="page-title">Study diary</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-item">
            <label>メールアドレス</label>
            <input type="email" name="email">
        </div>
        <div class="form-item">
            <label>パスワード</label>
            <input type="password" name="password">
        </div>

    <button type="submit"
            class="btn-submit"
            style="
            display: block;
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
            box-sizing: border-box;
            background: #5b6df6;
            color: white;
            text-decoration: none;
            border: none;
            padding: 14px 0;
            border-radius: 10px;
            text-align: center;
            font-weight: normal;">ログイン</button>
<div class="auth-links">
    <a href="{% url 'accounts:regist' %}">アカウント登録</a>
    <br>
    <span>パスワードをお忘れの方は
    <a href="{% url 'accounts:password_reset' %}">こちら</a>
    </span>
</div>
</form>
</div>

{% endblock %}



